<h1>Minhas propostas</h1>

  <% if @proposals.empty? %>
    <p>Nenhuma proposta ainda</p>
  <% else %>
    <% @proposals.each do |proposal| %>
      <h1><%= link_to proposal.property.description, proposal_path(proposal) %>
      <li><%= proposal.start_date.strftime( '%d/%m/%Y') %> </li>
      <li><%= proposal.end_date.strftime( '%d/%m/%Y' ) %> </li>
      <li><%= proposal.total_amount %> </li>
    <% end %>
  <% end %>
